<%- contentFor('heroImgFull') %>
/img/hero-full-home.jpg
<%- contentFor('heroImgThumb') %>
/img/hero-thumb-home.jpg

<%- contentFor('heroText') %>
            <h2>Databaseless Blog</h2>
            <p>Do you know what would be good? No databases.</p>
            <a href="/publish" class="button">Write an article!</a>

<%- contentFor('body') %>
        I'll replace this with a proper homepage at some point.
