<%- contentFor('heroImgFull') %>
/img/hero-full-home.jpg
<%- contentFor('heroImgThumb') %>
/img/hero-thumb-home.jpg

<%- contentFor('heroText') %>
            <h2>Welcome to the site</h2>
            <p>The best place to be</p>
            <a href="/contact" class="btn btn-lg btn-primary">Get in touch</a>

<%- contentFor('body') %>
    <div class="jumbotron text-center">
        home page
    </div>
